textarea {
  resize: none;
}

.messageFormContainer {
  height: 50px;
}

.messagebox {
  resize: none;
  height: 100%;
}

.messagebutton {
  height: 51px;
}

.header{
  max-height: 10%;
}

.content{
  max-height: 90%;
}

.chat {
  margin-bottom: 0px;
  max-height: 80%;
}

.messages {
  margin-bottom: 0px;
  bottom: 0;
}

#messageButton {
  height: 54px;
}
